.Rproj.user
.Rhistory
.RData
.Ruserdata
ADULT.dta
calenviroscreen-3.0-results-june-2018-update.csv
CHIS 2020 Data Dictionary - Adult Dec 2021.pdf
chis-data-lifetime-asthma-prevalence-by-county.xlsx
data-dictionary-chis-data-current-asthma-prevalence-by-county.xlsx
data-dictionary-chis-data-lifetime-asthma-prevalence.xlsx
brfss-data-asthma-prevalence-description.pdf
chis-data-current-asthma-prevalence-by-county.xlsx